@using _06OctoberAssignement_Adomvc_modelBinding.Models
@{
    ViewBag.Title = "Index";
}

<h2>Index of IssueList</h2>

<table class="table table-bordered">
    <tr>
        <th>Issue No</th>
        <th>Book No</th>
        <th>Member Id</th>
        <th>Issued Date</th>
        <th>Returned Date</th>

    </tr>
 
    @foreach (IssueModel item in (List<IssueModel>)TempData["MyIssueList"])
    {
        <tr>

            <td>@item.IssueId</td>
            <td>@item.BookNo</td>
            <td>@item.MemberId</td>
            <td>@item.Issue_Date</td>
            <td>@item.Return_Date</td>

        </tr>
    }



</table>

